/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/


align_dir = "bam"
contig_dir = "contigs"
cons_round1_dir = "consensus_round1"
cons_round2_dir = "consensus_round2"

process {
    // this makes all processes save their outputs, which we will probably need to change.
    // publishDir = [
    //     path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
    //     mode: params.publish_dir_mode,
    //     saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    // ]
    withName: PICARD_MARKDUPLICATES_GENOMIC_TRNA {
            publishDir = [
                path: { "${params.outdir}/${align_dir}/genomic_trna" }
            ]
        }

    withName: BBDUK_REMOVE {
            publishDir = [
                path: { "${params.outdir}/${align_dir}/post_bbduk_genomic_trna" }
            ]
        }

    withName: MEGAHIT {
            publishDir = [
                path: { "${params.outdir}/${contig_dir}" },
                pattern: "*.contigs.fa"  
            ]
        }

    withName: SPLIT_CONTIGS {
            publishDir = [
                path: { "${params.outdir}/${contig_dir}/terminal_split"}
            ]
        }

    withName: MINIMAP2_IDX_ALN_ASM {
            publishDir = [
                path: { "${params.outdir}/${contig_dir}/align_to_ref"}
            ]
        }

    withName: CREATE_SCAFFOLD {
            publishDir = [
                path: { "${params.outdir}/scaffolds"}
            ]
        }

    withName: PICARD_MARKDUPLICATES_RRNA {
            publishDir = [
                path: { "${params.outdir}/${align_dir}/rrna"}
            ]
        }

    withName: MERGE_ALL_NA {
            publishDir = [
                path: { "${params.outdir}/nucleic_acids_merged"}
            ]
        }

    withName: PICARD_MARKDUPLICATES_ROUND1 {
            publishDir = [
                path: { "${params.outdir}/${cons_round1_dir}"}
            ]
        }

    withName: CONSENSUS_ROUND1 {
            publishDir = [
                path: { "${params.outdir}/${cons_round1_dir}"}
            ]
        }

    withName: PICARD_MARKDUPLICATES_ROUND2{
            publishDir = [
                path: { "${params.outdir}/${cons_round2_dir}"}
            ]
        }

    withName: CONSENSUS_ROUND2 {
            publishDir = [
                path: { "${params.outdir}/${cons_round2_dir}"}
            ]
        }

    withName: TRANSFER_ANNOTATIONS {
            publishDir = [
                path: {"${params.outdir}/annotation_transfer"}
            ]
        }

    withName: CONTIGUITY_GENE_MASK {
            publishDir = [
                path: {"${params.outdir}/1_mask_genes_by_contiguity"}
            ]
        }

    withName: MASK_TP_FASTA {
            publishDir = [
                path: {"${params.outdir}/final_fastas"}
            ]
        }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BOWTIE2_ALIGN' {
            // ext.args = { "--local --no-unal" }
            ext.args = {}
            publishDir = [ 
                path: "${params.outdir}/${align_dir},
                mode: params.publish_dir_mode,
                pattern: "*.bam"
            ]
        }

    withName: PICARD_MARKDUPLICATES {
        ext.args = '--REMOVE_DUPLICATES true --VALIDATION_STRINGENCY SILENT --READ_NAME_REGEX null'
        ext.prefix = { "${meta.id}_merged_dedup_noRG" }        
    }
}
